#loader-wrapper {
  display: none;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .5s all;
  z-index: 99999999999999999999;
}
#loader-wrapper.show {
  display: block;
}
@keyframes loadingG {
    0% {transform: translate(0,0) rotate(0deg);}
    50% {transform: translate(70px,0) rotate(360deg);}
    100% {transform: translate(0,0) rotate(0deg);}
}
.square-holder {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}
.square {
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background-color: #4b9cdb;
    animation: loadingG 1.5s cubic-bezier(.17,.37,.43,.67) infinite;
}
#contextParseWidget {
  position: fixed;
  bottom: 10px;
  right: 30px;
  border-radius: 5px;
  background-color: teal;
  color: white;
  padding: 10px;
  cursor: pointer;
  z-index: 9999999999999999988;
}
#widgetBox {
  position: fixed;
  top: 0;
  left: -25%;
  width: 25%;
  height: 100%;
  transition: .5s left;
  background-color: #f1f1f1;
  border-right: 2px solid #003b76;
  padding: 10px;
  z-index: 9999999999999999988;
  font-size: 12px;
  overflow: hidden;
  overflow-y: scroll;
}
#widgetBox.show {
  left: 0%;
}
#widgetBox .title {
  margin-top: 10px;
  margin-bottom: 10px;
}
#widgetBox .subtitle {
  margin-top: 5px;
  margin-bottom: 5px;
}
#widgetBox .link {
  display: block;
  margin-top: 5px;
}
#widgetBox .link:first-child {
  margin-top: 0;
}
#widgetBox hr {
  width: 70%;
  height: 1px;
  border: 0;
  background-color: #777;
  margin: 10px auto;
}
[class^='entity'] {
  padding: 5px;
}
.entity0 {
  background-color: rgba(128,0,0, 0.3);
}
.entity1 {
  background-color: rgba(139,0,0, 0.3);
}
.entity2 {
  background-color: rgba(165,42,42, 0.3);
}
.entity3 {
  background-color: rgba(178,34,34, 0.3);
}
.entity4 {
  background-color: rgba(220,20,60, 0.3);
}
.entity5 {
  background-color: rgba(255,0,0, 0.3);
}
.entity6 {
  background-color: rgba(255,99,71, 0.3);
}
.entity7 {
  background-color: rgba(255,127,80, 0.3);
}
.entity8 {
  background-color: rgba(205,92,92, 0.3);
}
.entity9 {
  background-color: rgba(240,128,128, 0.3);
}
.entity10 {
  background-color: rgba(233,150,122, 0.3);
}
.entity11 {
  background-color: rgba(250,128,114, 0.3);
}
.entity12 {
  background-color: rgba(255,160,122, 0.3);
}
.entity13 {
  background-color: rgba(255,69,0, 0.3);
}
.entity14 {
  background-color: rgba(255,140,0, 0.3);
}
.entity15 {
  background-color: rgba(255,165,0, 0.3);
}
.entity16 {
  background-color: rgba(255,215,0, 0.3);
}
.entity17 {
  background-color: rgba(184,134,11, 0.3);
}
.entity18 {
  background-color: rgba(218,165,32, 0.3);
}
.entity19 {
  background-color: rgba(238,232,170, 0.3);
}
.entity20 {
  background-color: rgba(189,183,107, 0.3);
}
.entity21 {
  background-color: rgba(240,230,140, 0.3);
}
.entity22 {
  background-color: rgba(128,128,0, 0.3);
}
.entity23 {
  background-color: rgba(255,255,0, 0.3);
}
.entity24 {
  background-color: rgba(154,205,50, 0.3);
}
.entity25 {
  background-color: rgba(85,107,47, 0.3);
}
.entity26 {
  background-color: rgba(107,142,35, 0.3);
}
.entity27 {
  background-color: rgba(124,252,0, 0.3);
}
.entity28 {
  background-color: rgba(127,255,0, 0.3);
}
.entity29 {
  background-color: rgba(173,255,47, 0.3);
}
.entity30 {
  background-color: rgba(0,100,0, 0.3);
}
.entity31 {
  background-color: rgba(0,128,0, 0.3);
}
.entity32 {
  background-color: rgba(34,139,34, 0.3);
}
.entity33 {
  background-color: rgba(0,255,0, 0.3);
}
.entity34 {
  background-color: rgba(50,205,50, 0.3);
}
.entity35 {
  background-color: rgba(144,238,144, 0.3);
}
.entity36 {
  background-color: rgba(152,251,152, 0.3);
}
.entity37 {
  background-color: rgba(143,188,143, 0.3);
}
.entity38 {
  background-color: rgba(0,250,154, 0.3);
}
.entity39 {
  background-color: rgba(0,255,127, 0.3);
}
.entity40 {
  background-color: rgba(46,139,87, 0.3);
}
.entity41 {
  background-color: rgba(102,205,170, 0.3);
}
.entity42 {
  background-color: rgba(60,179,113, 0.3);
}
.entity43 {
  background-color: rgba(32,178,170, 0.3);
}
.entity44 {
  background-color: rgba(47,79,79, 0.3);
}
.entity45 {
  background-color: rgba(0,128,128, 0.3);
}
.entity46 {
  background-color: rgba(0,139,139, 0.3);
}
.entity47 {
  background-color: rgba(0,255,255, 0.3);
}
.entity48 {
  background-color: rgba(0,255,255, 0.3);
}
.entity49 {
  background-color: rgba(224,255,255, 0.3);
}
.entity50 {
  background-color: rgba(0,206,209, 0.3);
}
.entity51 {
  background-color: rgba(64,224,208, 0.3);
}
.entity52 {
  background-color: rgba(72,209,204, 0.3);
}
.entity53 {
  background-color: rgba(175,238,238, 0.3);
}
.entity54 {
  background-color: rgba(127,255,212, 0.3);
}
.entity55 {
  background-color: rgba(176,224,230, 0.3);
}
.entity56 {
  background-color: rgba(95,158,160, 0.3);
}
.entity57 {
  background-color: rgba(70,130,180, 0.3);
}
.entity58 {
  background-color: rgba(100,149,237, 0.3);
}
.entity59 {
  background-color: rgba(0,191,255, 0.3);
}
.entity60 {
  background-color: rgba(30,144,255, 0.3);
}
.entity61 {
  background-color: rgba(173,216,230, 0.3)
}
.entity62 {
  background-color: rgba(135,206,235, 0.3)
}
.entity63 {
  background-color: rgba(135,206,250, 0.3)
}
.entity64 {
  background-color: rgba(25,25,112, 0.3);
}
.entity65 {
  background-color: rgba(0,0,128, 0.3);
}
.entity66 {
  background-color: rgba(0,0,139, 0.3);
}
.entity67 {
  background-color: rgba(0,0,205, 0.3);
}
.entity68 {
  background-color: rgba(0,0,255, 0.3);
}
.entity69 {
  background-color: rgba(65,105,225, 0.3);
}
.entity70 {
  background-color: rgba(138,43,226, 0.3);
}
.entity71 {
  background-color: rgba(75,0,130, 0.3);
}
.entity72 {
  background-color: rgba(72,61,139, 0.3);
}
.entity73 {
  background-color: rgba(106,90,205, 0.3);
}
.entity74 {
  background-color: rgba(123,104,238, 0.3);
}
.entity75 {
  background-color: rgba(147,112,219, 0.3);
}
.entity76 {
  background-color: rgba(139,0,139, 0.3);
}
.entity77 {
  background-color: rgba(148,0,211, 0.3);
}
.entity78 {
  background-color: rgba(153,50,204, 0.3);
}
.entity79 {
  background-color: rgba(186,85,211, 0.3);
}
.entity80 {
  background-color: rgba(128,0,128, 0.3);
}
.entity81 {
  background-color: rgba(216,191,216, 0.3);
}
.entity82 {
  background-color: rgba(221,160,221, 0.3);
}
.entity83 {
  background-color: rgba(238,130,238, 0.3);
}
.entity84 {
  background-color: rgba(255,0,255, 0.3);
}
.entity85 {
  background-color: rgba(218,112,214, 0.3);
}
.entity86 {
  background-color: rgba(199,21,133, 0.3);
}
.entity87 {
  background-color: rgba(219,112,147, 0.3);
}
.entity88 {
  background-color: rgba(255,20,147, 0.3);
}
.entity89 {
  background-color: rgba(255,105,180, 0.3);
}
.entity90 {
  background-color: rgba(255,182,193, 0.3);
}
.entity91 {
  background-color: rgba(255,192,203, 0.3);
}
.entity92 {
  background-color: rgba(250,235,215, 0.3);
}
.entity93 {
  background-color: rgba(245,245,220, 0.3);
}
.entity94 {
  background-color: rgba(255,228,196, 0.3);
}
.entity95 {
  background-color: rgba(255,235,205, 0.3);
}
.entity96 {
  background-color: rgba(245,222,179, 0.3);
}
.entity97 {
  background-color: rgba(255,248,220, 0.3);
}
.entity98 {
  background-color: rgba(255,250,205, 0.3);
}
.entity99 {
  background-color: rgba(250,250,210, 0.3);
}
.entity100 {
  background-color: rgba(255,255,224, 0.3);
}
