#contextParseWidget {
  position: fixed;
  bottom: 10px;
  right: 30px;
  border-radius: 5px;
  background-color: teal;
  color: white;
  padding: 10px;
  cursor: pointer;
  z-index: 99999999999999999999;
}
#widgetBox {
  position: fixed;
  top: 0;
  left: -25%;
  width: 25%;
  height: 100%;
  transition: .5s left;
  background-color: #f1f1f1;
  border-right: 2px solid #003b76;
  padding: 10px;
  z-index: 99999999999999999999;
  font-size: 12px;
  overflow: hidden;
  overflow-y: scroll;
}
#widgetBox.show {
  left: 0%;
}
#widgetBox .title {
  margin-top: 10px;
  margin-bottom: 10px;
}
#widgetBox .subtitle {
  margin-top: 5px;
  margin-bottom: 5px;
}
#widgetBox .link {
  display: block;
  margin-top: 5px;
}
#widgetBox .link:first-child {
  margin-top: 0;
}
#widgetBox hr {
  width: 70%;
  height: 1px;
  border: 0;
  background-color: #777;
  margin: 10px auto;
}
[class^='entity'] {
  padding: 5px;
}
.entity1 {
  background-color: rgba(255,0,0,0.3);
}
span.entity2 {
  background-color: rgba(128,0,0,0.3);
}
span.entity3 {
  background-color: rgba(50,0,0,0.3);
}
span.entity4 {
  background-color: rgba(0,50,0,0.3);
}
span.entity5 {
  background-color: rgba(0,128,0,0.3);
}
span.entity6 {
  background-color: rgba(0,255,0,0.3);
}
span.entity7 {
  background-color: rgba(0,0,255,0.3);
}
span.entity8 {
  background-color: rgba(0,0,128,0.3);
}
span.entity9 {
  background-color: rgba(0,0,50,0.3);
}
span.entity10 {
  background-color: rgba(255,255,0,0.3);
}
span.entity11 {
  background-color: rgba(255,0,255,0.3);
}
span.entity12 {
  background-color: rgba(0,255,255,0.3);
}
